@media screen and (max-width: 991px){
   .nav-toggle{
    display: block;
    margin-right: 20px;
   }
   .nav-links{
     display: none;
   }
   .example-area{
    gap: 20px;
   }
  .example-card{
    width: calc(50% - 10px);
    height: 180px;
  }
}
@media screen and (max-width: 767px){
  .header-section{
    flex-direction: column-reverse;
  } 
  .header-left{
    max-width: 100vw;
    text-align: center;
} 
.feature-cards{
  min-width: calc(50%-10px);
}
.bog-feature-container{
  flex-direction: column;
}
}